<md-input-container>
  <input type="text" ng-model="query" ng-keyup="search(query)" ng-blur="stopSearch()" />
</md-input-container>
<md-button
  class="md-button"
  ng-repeat="source in category.sources"
  ng-class="{ 'md-primary': source.active, 'md-raised': source.active }"
  ng-click="showSource(source)">

  <img ng-src="https://logo.clearbit.com/{{source.host || source.url}}" />
  <strong>{{ source.name }}</strong>

</md-button>