<nav layout="row" flex="8">
  <div layout="row" flex>
    <md-button
      ng-repeat="category in categories"
      ng-class="{ 'md-primary': category.active, 'md-raised': category.active }"
      ng-click="showCategory(category)">
      <strong>{{ category.name }}</strong>
    </md-button>
  </div>
  <div flex>
    <md-button class="md-icon-button md-primary" ng-click="toggleContentEditor()">
      <md-icon>settings</md-icon>
    </md-button>
  </div>
</nav>
<main layout="row" flex>
  <aside flex="20" layout="column" layout-align="stretch">
    <md-input-container>
      <input type="text" ng-model="query" ng-keyup="search(query)" ng-blur="stopSearch()" />
    </md-input-container>
    <md-button
      class="md-button"
      ng-repeat="source in category.sources"
      ng-class="{ 'md-primary': source.active, 'md-raised': source.active }"
      ng-click="showSource(source)">

      <img ng-src="https://logo.clearbit.com/{{source.host || source.url}}" />
      <strong>{{ source.name }}</strong>

    </md-button>
  </aside>
  <main flex="80">
    <webview preload="src/scripts/cleanup.js" style="position:absolute;left:0;right:0;bottom:0;top:0;"></webview>
  </main>
</main>