<!DOCTYPE html>
<html ng-app="dex">
<head>
  <title>FLOW</title>
  <base href="./" />
  <!-- injector:css -->
  <link rel="stylesheet" href="lib/angular-material/angular-material.css">
  <link rel="stylesheet" href="lib/angular-hotkeys/build/hotkeys.css">
  <link rel="stylesheet" href="assets/styles/main.css">
  <!-- endinjector -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body layout="column">
  <md-content layout="column" ui-view layout-fill>
    <nav layout="row" flex="8">
      <div layout="row" flex>
        <div ng-if="toolbar.templateUrl" ng-include="toolbar.templateUrl"></div>
      </div>
      <div style="max-width:10vw;" flex>
        <md-button class="md-icon-button md-primary" ng-click="toggleContentEditor()">
          <md-icon>settings</md-icon>
        </md-button>
      </div>
    </nav>
    <main layout="row" flex>
      <aside flex="20" layout="column" layout-align="stretch">
        <div ng-if="sidebar.templateUrl" ng-include="sidebar.templateUrl"></div>
      </aside>
      <main flex="80" ui-view="content">
        <div ng-if="content.templateUrl" ng-include="content.templateUrl"></div>
      </main>
    </main>
  </md-content>
  <!-- injector:js -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-cookies/angular-cookies.js"></script>
  <script src="lib/angular-animate/angular-animate.js"></script>
  <script src="lib/angular-aria/angular-aria.js"></script>
  <script src="lib/angular-material/angular-material.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.js"></script>
  <script src="lib/lodash/lodash.js"></script>
  <script src="lib/angular-resource/angular-resource.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="lib/angular-hotkeys/build/hotkeys.js"></script>
  <script src="src/main.js"></script>
  <script src="src/category/category.controller.js"></script>
  <!-- endinjector -->
  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>