nav button.md-button {
  border-radius: 0;
  display: inline-block;
  padding: 10px 5px;
  margin: 0; }

main {
  position: relative;
  text-align: left; }
  main aside md-input-container {
    margin: 0;
    width: 100%; }
    main aside md-input-container input {
      width: 100%; }
  main aside button.md-button {
    display: flex;
    border-radius: 0;
    flex-direction: row;
    margin: 0;
    text-align: left;
    text-indent: 10px;
    width: 100%; }
    main aside button.md-button img {
      flex: 0 1 auto;
      height: 25px;
      max-width: 20%; }
    main aside button.md-button strong {
      flex: 1 1 auto; }

/*# sourceMappingURL=main.css.map */