<md-list>
  <md-list-item layout="row" ng-repeat="selector in source.meta.selectors">
    <span flex>{{selector}}</span>
    <md-button class="md-button md-primary">
      <md-icon>add_circle</md-icon>
    </md-button>
    <md-button class="md-button md-primary">
      <md-icon>remove_circle</md-icon>
    </md-button>
  </md-list-item>
  <md-button flex class="md-button add">
    <md-icon>add</md-icon>
  </md-button>
</md-list>