<nav layout="row" flex="8">
  <div layout="row" flex>
    <div ng-if="toolbar.templateUrl" ng-include="toolbar.templateUrl"></div>
  </div>
  <div style="max-width:10vw;" flex>
    <md-button class="md-icon-button md-primary" ng-click="toggleContentEditor()">
      <md-icon>settings</md-icon>
    </md-button>
  </div>
</nav>
<main layout="row" flex>
  <aside flex="20" layout="column" layout-align="stretch">
    <div ng-if="sidebar.templateUrl" ng-include="sidebar.templateUrl"></div>
  </aside>
  <main flex="80" ui-view="content">
    <div ng-if="content.templateUrl" ng-include="content.templateUrl"></div>
  </main>
</main>